.DS_Store
.idea/
.vscode/

**/bin/
**/obj/
**/TestResults/
**/test-results/
**/playwright-report/

**/node_modules/
**/dist/
**/*.local
/i-api/App_Data/

.env
.env.*
!.env.example

*.user
*.suo
*.log
